
.page-title {
    font-family: 'Abel', sans-serif;
    text-align: center;
}

#login {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    flex-basis: 25rem;
    font-family: 'Open Sans', sans-serif;
    margin: 2rem;
}

.btn-primary {
    background-color: #1DB954;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 20px;
    padding: 1rem;
}

.btn-div {
    margin: 2rem;
}

/* ------ NAVIGATION ------ */

nav {
    display: flex;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 0 0 0 1rem;
    font-family: 'Abel', sans-serif;
}

.user-info {
    display: flex;
    margin: 0.5rem;
    align-items: center;
}

.media-object {
    margin: 0 0 0 1rem;
    border-radius: 50%;
}

/* ------ PLAYLIST FORM ------ */

.playlist-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#center-page {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.form-item {
    display: flex;
    justify-content: center;
    margin: 1rem;
}

.form-item input {
    margin: 0 1rem 0 1rem;
}